.ytp-speed-controls {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.ytp-speed-controls button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 0 4px;
    min-width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ytp-speed-controls button svg {
    width: 24px;
    height: 24px;
    margin: 0 2px;
    opacity: 0.9;
}

.ytp-speed-controls button:hover svg {
    opacity: 1;
}

.ytp-speed-controls .ytp-speed-reset svg {
    transform: scale(0.8);
}

.ytp-speed-controls button:hover {
    opacity: 0.8;
}

.ytp-speed-reset {
    font-family: 'YouTube Noto', Roboto, Arial, sans-serif;
    min-width: 32px !important;
}
